- if @user.errors.any?
  .alert.alert-danger
    %ul
      - @user.errors.full_messages.each do |item|
        %li
          = item
= simple_form_for @user, url: users_path do |f|
  = f.input :name, label: t('views.user.name'), error: false
  = f.input :email, label: t('views.user.email'), error: false
  = f.input :password, label: t('views.user.password'), error: false
  = f.input :password_confirmation, label: t('views.user.password_confirmation'), error: false
  = f.input :subscribe, as: :boolean, label: t('views.user.subscribe')
  = f.button :submit, t('views.user.save')
