- if @user.errors.any?
  .alert.alert-danger
    %ul
      - @user.errors.full_messages.each do |item|
        %li
          = item
= simple_form_for @user, url: users_path do |f|
  = f.input :name, error: false
  = f.input :email, error: false
  = f.input :password, error: false
  = f.input :password_confirmation, error: false
  = f.input :subscribe, as: :boolean
  = f.button :submit, t('.save')
