%h4
  = t('.all_cards')
%p
  = link_to t('.new_card'), new_deck_card_path(params[:deck_id])


= simple_form_for :card, url: :update_date_deck_cards do |f|
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th
        %th
          = t('.original_text')
        %th
          = t('.translated_text')
        %th
          = t('.review_date')
        %th check
        %th effort
        %th
        %th
        %th
    %tbody
      - @cards.each.with_index(1) do |card, i|
        %tr
          %th
            = i
          %th
            = image_tag card.image_url(:thumb) if card.image?
          %th
            = card.original_text
          %th
            = card.translated_text
          %th
            - if card.review_date
              = card.review_date.strftime('%d/%m/%Y')
          %th
            = card.check
          %th
            = card.effort
          %th
            = check_box_tag('cards[]', card.id, checked = false)
          %th
            = link_to t('.edit'), edit_deck_card_path(params[:deck_id], card)
          %th
            = link_to t('.delete'), deck_card_path(params[:deck_id], card), method: :delete, data: { confirm: t('.confirm') }

  = f.button :submit, t('.review_now')