%h4 Все карточки:
%table.table.table-striped
  %thead
    %tr
      %th #
      %th
        = I18n.t('views.card.original_text')
      %th
        = I18n.t('views.card.translated_text')
      %th
        = I18n.t('views.card.review_date')
      %th
      %th
  %tbody
    - @cards.each.with_index(1) do |card, i|
      %tr
        %th
          = i
        %th
          = card.original_text
        %th
          = card.translated_text
        %th
          - if card.review_date
            = card.review_date.strftime('%d/%m/%Y')
        %th
          = link_to I18n.t('views.card.edit'), edit_card_path(card)
        %th
          = link_to I18n.t('views.card.delete'), card_path(card), method: :delete, data: { confirm: 'Are you sure?' }
