- if @card.errors.any?
  .alert.alert-danger
    %ul
      - @card.errors.full_messages.each do |item|
        %li
          = item
%h4
  = t('.new_card')
= simple_form_for @card, url: :deck_cards do |f|
  = f.input :original_text, error: false
  = f.input :translated_text, error: false
  = image_tag @card.image if @card.image?
  = f.input :remote_image_url
  = f.input :image, as: :file, error: false
  = f.button :submit, t('.save_card')