- if @card.errors.any?
  .alert.alert-danger
    %ul
      - @card.errors.full_messages.each do |item|
        %li
          = item
%h4 Новая карточка:
= simple_form_for @card do |f|
  = f.input :original_text, label: 'Текст'
  = f.input :translated_text, label: 'Перевод'
  = f.button :submit, 'Сохранить карточку'
