%h4
  = t('.all_decks')
%table.table.table-striped
  %thead
    %tr
      %th #
      %th
        = t('.title')
      %th
        = t('.description')
      %th
      %th
      %th
  %tbody
    - @decks.each.with_index(1) do |deck, i|
      %tr
        %th
          = i
        %th
          = link_to deck.title, deck_cards_path(deck)
        %th
          = deck.description
        %th
          = deck.id == current_user.default_deck_id ? t('.default') : link_to(t('.set_default'), deck_set_default_path(deck.id), method: :post)
        %th
          = link_to t('.edit'), edit_deck_path(deck)
        %th
          = link_to t('.delete'), deck_path(deck), method: :delete, data: { confirm: t('.confirm') }
