!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title
      = t('.title')
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .header
        %nav
          %ul.nav.nav-pills.pull-right
            - if current_user
              %li
                = link_to t('.all_decks'), decks_path
              %li
                = link_to t('.add_deck'), new_deck_path
              %li
                = link_to t('.edit_user'), edit_users_path
              %li
                = link_to t('.logout'), :logout, method: :post
            - else
              %li
                = link_to t('.register'), new_registration_path
              %li
                = link_to t('.login'), :login
        %h3.text-muted
          = link_to t('.title'), root_path
      %hr
      - if alert
        .alert.alert-danger
          = alert.html_safe
      - if notice
        .alert.alert-info#alert
          = notice
      = yield
    %footer.footer
      .container
        %hr
        - if I18n.locale == :en
          = link_to 'Ru', locale_path(locale: 'ru')
        - else
          = link_to 'En', locale_path(locale: 'en')
