!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title
      = I18n.t('views.layout.title')
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .header
        %nav
          %ul.nav.nav-pills.pull-right
            - if current_user
              %li
                = link_to I18n.t('views.layout.all_cards'), cards_path
              %li
                = link_to I18n.t('views.layout.add_card'), new_card_path
              %li
                = link_to I18n.t('views.layout.edit_user'), edit_users_path
              %li
                = link_to I18n.t('views.layout.logout'), :logout, method: :post
            - else
              %li
                = link_to I18n.t('views.layout.register'), new_registration_path
              %li
                = link_to I18n.t('views.layout.login'), :login
        %h3.text-muted
          = link_to I18n.t('views.layout.title'), root_path
      %hr
      - if notice
        .alert.alert-info
          = notice
      = yield
